/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/db_tables" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: EPYTOPE_SHOW_SUPPORTED_MODELS {
        publishDir = [
            path: { "${params.outdir}/model_information" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CHECK_SAMPLESHEET_CREATE_TABLES {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.equals('samplesheet.valid.csv') ? "pipeline_info/$filename" : "db_tables/$filename" }
        ]
    }

    withName: UNIFY_MODEL_LENGTHS {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.endsWith(".log") ? "logs/$filename" : null}
        ]
    }

    withName: UNPACK_BIN_ARCHIVES {
        publishDir = [
            enabled: false
        ]
    }

    withName: DOWNLOAD_PROTEINS {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.endsWith(".log") ? "logs/$filename" : (filename.indexOf(".fasta.gz") == -1) ? "entrez_data/$filename" : null  }
        ]
    }

    withName: PRODIGAL {
        publishDir = [
            path: { "${params.outdir}/prodigal" },
            mode: params.publish_dir_mode,
            pattern: '*.gff',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename}
        ]
        ext.prefix = { meta.bin_basename ? "${meta.id}.${meta.bin_basename}" : "${meta.id}" }
        ext.args = { "-p ${params.prodigal_mode}" }
    }

    withName: CREATE_PROTEIN_TSV {
        publishDir = [
            path: { "${params.outdir}/prodigal" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SPLIT_PRED_TASKS {
        publishDir = [
            enabled: false
        ]
    }

    withName: PREDICT_EPITOPES {
        publishDir = [
            enabled: false
        ]
    }

    withName: MERGE_PREDICTIONS_BUFFER {
        publishDir = [
            enabled: false
        ]
    }

    withName:MERGE_PREDICTIONS {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: {filename -> filename.equals('versions.yml') ? null : filename.endsWith(".log") ? "logs/$filename" : "db_tables/$filename"}
        ]
    }

    withName: PREPARE_SCORE_DISTRIBUTION {
        publishDir = [
            path: { "${params.outdir}/figures/prediction_scores" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLOT_SCORE_DISTRIBUTION {
        publishDir = [
            path: { "${params.outdir}/figures" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PREPARE_ENTITY_BINDING_RATIOS {
        publishDir = [
            path: { "${params.outdir}/figures/entity_binding_ratios" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLOT_ENTITY_BINDING_RATIOS {
        publishDir = [
            path: { "${params.outdir}/figures" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
