/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/metapep -profile test_mouse_all_peptide_lengths,<docker/singularity>
 */

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    // Input data
    input = params.pipelines_testdata_base_path + 'metapep/samplesheets/v1.0/samplesheet.assembly_only_mouse.csv'

    // Define peptide lengths that should be used for prediction so they exceed the standard but not reduce them to the common denominator
    max_pep_len = 11
    min_pep_len = 8

    allow_inconsistent_pep_lengths = true
}
