name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]

env:
  NXF_ANSI_LOG: false

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Run pipeline with assembly test data
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/metapep') }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        NXF_VER:
          - "23.04.0"
          - "latest-everything"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v1
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Run pipeline with assembly test data
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results

  profile:
    name: Run additional profile tests
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: ${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/metapep') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tests: [
            "test_model_information",
            "test_mouse_all_pep_lengths",
            "test_assembly_only",
            "test_bins_only",
            "test_coassembly",
            "test_mhcflurry",
            "test_mhcnuggets_1",
            "test_mhcnuggets_2",
          ] # add further test profiles here, will be run in parallel (but only with one nextflow version)
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v2

      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Run pipeline with profile ${{ matrix.tests }}
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile ${{ matrix.tests }},docker  --outdir ./results

  all_profiles:
    name: Run all additional profile tests that require ncbi credentials
    # Only run on PRs from branches of nf-core/metapep repository or on push if this is the nf-core dev branch (merged PRs)
    # (GitHub secrets are not accessible for workflows from forks)
    if: ${{ github.event.pull_request.head.repo.full_name == 'nf-core/metapep' || (github.event_name == 'push' && github.repository == 'nf-core/metapep') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tests: ["test_all", "test_mouse", "test_taxa_only"] # add further test profiles here, will be run in parallel (but only with one nextflow version)
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v2

      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Run pipeline with profile ${{ matrix.tests }}
        env:
          NCBI_EMAIL: ${{ secrets.NCBI_EMAIL }}
          NCBI_KEY: ${{ secrets.NCBI_KEY }}
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile ${{ matrix.tests }},docker --ncbi_email "$NCBI_EMAIL" --ncbi_key "$NCBI_KEY"  --outdir ./results
